.App .Container {
  padding: 40px 30px;
  margin: 0 auto;
  max-width: 900px;
}

.App {
  font-family: Poppins, sans-serif;
}

.App header {
  padding: 20px;
  text-align: center;
}

.App header h1 {
  font-size: 50px;
  font-weight: 200;
  display: inline;
  margin: 0 20px;
}

a {
  color: #123c69;
}

.App .Container {
  padding: 40px 30px;
  margin: 0 auto;
  max-width: 900px;
}

.App footer {
  font-size: 10px;
  margin-top: 10px;
}
.App footer a {
  color: #d76463;
  text-decoration: none;
  transition: all 200ms ease-in-out;
}
.App footer a:hover {
  color: #eb7c7c;
}
