html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: #edc7b7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: #123c69;
}
